.price-chart-container {
  background: #18222e;
  margin: 0 2rem;
  padding: 1rem;
}

.chart-container {
  @apply relative
		w-full
		h-90
		<md:h-80
		<sm:h-60
		<xs:h-40;
}

.chart-container .responsive-container {
  @apply absolute
		top-0
		left-0
		w-full
		h-full;
}

.price-chart-buttons {
  @apply flex
		mb-6;
}

.price-chart-buttons .button {
  font-weight: 600;
  @apply uppercase
		py-1
		px-3
		text-sm;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding:  1rem 0;
}

.day-select {
  background: #18222e;
  border: 0;
  outline: 0;
  cursor: pointer;
}
