.register-page .input-root .left-container {
	@apply
		w-18
}

.login-btn {
    background: linear-gradient(180deg, #6FBF86 0%, #34B1A6 100%) !important;
    color: #fff !important;
}

.link {
    color: #fff;
    font-weight: bold;
}

p {
    color: rgb(181, 181, 181);
}

.span {
    display: flex;
    gap: 5px;
}

.register {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.showcase-img {
    margin-left: -4rem;
}

@media (max-width: 700px) {
    .register {
        grid-template-columns: 1fr;
    }

    .showcase-img {
        order: -1;
        width: 65%;
    }
}

@media (max-width: 700px) {
    .register {
        grid-template-columns: 1fr;
    }

    .showcase-img {
        margin-left: 0;
    }
}


/* @media (max-width: 500px) {
    .register{
        height: 50vh;
    }
} */