.transaction-card {
    background: #131a22;
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
}

.language {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 10vh;
    background: #18222E;
}

.transaction-header {
    border-bottom: 1px solid rgba(228, 228, 228, 0.1);
}

.transaction-language {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 1rem 2.5rem;
    background: #18222e;
    border: 0;
    outline: 0;
    cursor: pointer;
}

.card-header {
    font-size: 2rem;
    margin: 2rem;
}