.form-page {
	overflow: hidden;
	/* margin-left: 2.5rem; */
	margin-right: 2.5rem;
	@apply
		w-full
		text-left
		<xs:h-auto
}

.form-background {
	@apply
		z-[-1]
		w-full
		h-full
		absolute
		top-0
		left-0
		object-center
		object-cover
		<xs:hidden
}

.form-card {
	@apply
		overflow-y-auto
		max-h-[calc(var(--screen-height)-2rem)]
		<md:max-h-[calc(var(--screen-height)-4rem)]
		<xs:max-h-none
		
		<xs:flex-1
		<xs:rounded-none
		
}

.form-card-wrapper {
	/* background: #18222ECC; */
	border-radius: 8px;	
	@apply
		/* mx-auto */
		<xs:w-full
}

@media (max-width: 700px) {
	.form-page {
		margin-left: 0;
	}
	.form-card-wrapper {
		width: 100%;
	}
}

@media (max-width: 500px) {
	.form-background {
		display: block !important;
	}
}

@media (max-width: 500px) {
	.form-card {
		width: 100% !important;
		margin: 0 auto;
	}

	.form-page {
		width: 100% !important;
		margin-left: 0 !important;
	}
}
