nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding: 0 3rem;
}

.language-main {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.language-select {
    border: 0;
    outline: 0;
    background: #18222e;
    color: #fff;
    cursor: pointer;
}

@media (max-width: 700px) {
    .logo {
        display: none;
    }

    nav {
        justify-content: flex-end;
    }
}