.dialog {
	transform: translate(-50%, -50%);
	width: 50%;
	z-index: 21;
	@apply
		fixed
		top-1/2 left-1/2
		transition-all
		duration-400
}

.dialog:not(.open) {
	@apply
		translate-y-[4rem]
		top-full
}

.overlay {
	@apply
		z-[20]
		fixed
		top-0 left-0
		w-full
		h-full
		bg-background-overlay
		transition-opacity
		duration-400
}

.overlay:not(.open) {
	@apply
		opacity-0
		pointer-events-none
}

.dialog .close-button {
	top: 2.1rem;
	right: 1rem;
	@apply
		absolute
		z-[5]
}

@media (max-width: 1000px) {
	.dialog {
		width: 70%;
	}
}

@media (max-width: 700px) {
	.dialog {
		width: 90%;
	}
}

@media (max-width: 500px) {
	.dialog {
		width: 100%;
	}

	.transaction-details .pending-container {
		flex-direction: column;
	}
}

@media (max-width: 400px) {
	.dialog .close-button{
		top: .5rem;
	}
}