.info-token {
    background: #18222E;
    padding: 2rem;
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    border-radius: 8px;
}

.token-info {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    margin-top: 1rem;
}

.col {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-right: 1px solid #272B30;
}

.col h1 {
    color: #6CB47B;
    font-size: 1.5rem;
}

.col p {
    font-size: 1rem !important;
}

.col-4 {
    border-right: 0;
}

.token-title {
   margin-left: -.8rem !important;
    gap: 15px;
}

@media (max-width: 700px) {
    .token-info {
        grid-template-columns: 1fr 1fr;
    }

    .col {
        border-right: 0;
    }

}

@media (max-width: 400px) {
    .col {
        gap: 10px;
        margin-top: 1rem;
    }

    .col h1 {
        font-size: 1.2rem;
    }

    .col p {
        font-size: .8rem !important;
    }

    .token-info {
        gap: 20px;
    }
}


@media (max-width: 400px) {
    
    .info-token {
        margin-left: 0;
        margin-right: 0;
    }

}