.LoggedInHeader {
    width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-end !important;
	padding: 0 3rem;
	background: #18222e;
	border: 0;
	outline: 0;
}

.petrousus {
	display: none;
}

@media (max-width: 900px) {
	.petrousus {
		display: block;
	}

	nav {
		display: flex;
		justify-content: space-between !important;
		width: 100%;
		padding: 0 !important;
	}
}

@media (max-width: 500px) {
	.LoggedInHeader {
		padding: 0 1rem;
	}
}